﻿@model BaoTangAPI.Models.Question

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Point)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Point)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GetMultiChoice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GetMultiChoice.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
