﻿@model List<BaoTangAPI.Helper.QuestionsAndAnswers>
@{
    ViewData["Title"] = "CauHoiView";
    Layout = "~/Views/Shared/_LayoutGameDescription.cshtml";
}
@section styles{ 
    <style>
        .main-question {
            background-color: #F2F0F0;
            padding: 60px;
        }

        .stt-ques {
            font-weight: bold;
            font-size: 36px;
        }

        .icon-nepr {
            position: relative;
        }

        .next-2 {
            height: 100%;
            position: absolute;
            display: flex;
            top: 0;
            right: 35px;
            align-items: center;
            cursor: pointer;
        }

        .pre-2 {
            top: 0;
            position: absolute;
            z-index: 9;
            display: flex;
            align-items: center;
            height: 100%;
            cursor: pointer;
            left: 50px;
        }

        ul.list-da {
            list-style: none;
            padding: 0;
            margin: 60px 0;
        }
    </style>
}
<div class="">
    <div class="main-question">
        <div class="slide-question">
            @{ var count = 1;}
            @foreach (var item in Model)
            {
                <div class="ques-detail">
                    <span class="stt-ques">Câu @count:</span> @Html.Raw(item.QuestionTarget.Content);
                    <ul class="row list-da">
                        @for (int i = 0; i < 4; i++)
                        {
                            var q = item.ListAnswers.Skip(i).Take(1).FirstOrDefault();

                            var id = string.Format("q_{0}_a_{1}", count, i);
                            var name = "q_" + count;
                            var isChoose = q.isCorrect;
                            if (q != null)
                            {
                                <li class="col-6" style="text-align: center">
                                    <input type="radio" id="@id" name="@name" value="@isChoose" class="ip-radio">
                                    <label for="@id">@Html.Raw(q.Content)</label>
                                </li>
                            }
                        }

                        @*<li class="col-6">
                            <input type="radio" id="female" name="gender" value="female">
                            <label for="female">meo</label>
                        </li>
                        <li class="col-6">
                            <input type="radio" id="other" name="gender" value="other">
                            <label for="other">lon</label>
                        </li>
                        <li class="col-6">
                            <input type="radio" id="other" name="gender" value="other">
                            <label for="other">lon</label>
                        </li>*@
                    </ul>
                </div>
                count++;
            }

            @*<div class="ques-detail">
                <span class="stt-ques">Câu 2:</span> Con nào có thể bay ?
            </div>
            <div class="ques-detail">
                <span class="stt-ques">Câu 3:</span> Con nào có thể bay ?
            </div>
            <div class="ques-detail">
                <span class="stt-ques">Câu 4:</span> Con nào có thể bay ?
            </div>*@

        </div>
        <div class="icon-nepr">
            <div class="pre-2" id="pre2">
                <img src="img/pre.svg" alt="">
            </div>

            <div class="next-2" id="next2">
                Câu tiếp theo <img src="img/next.svg" class="ml-4" alt="">
            </div>
        </div>
    </div>
</div>

@section scripts{ 
    <script>
        $(document).ready(function () {
            $('.slide-question').slick({

                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: false,
                autoplaySpeed: 2000,
                arrows: false,
                infinite: false,
                dots: false,

                responsive: [{
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }, {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
                ]
            });
            $('.next-2').click(function () {
                $(".slide-question").slick('slickNext');
            });
            $('.pre-2').click(function () {
                $(".slide-question").slick('slickPrev');
            });
        });
    </script>
<script>
    $('.ip-radio').off('change').on('change', function () {
        var isCorrect = parseInt($(this).attr('value'));
        if (isCorrect > 0) {
            alert('true');
        }
        else {
            alert('false')
        }
    })
</script>

}