﻿
@{
    ViewData["Title"] = "DoanChuView";
    Layout = "~/Views/Shared/_LayoutGameDescription.cshtml";
}
@model List<BaoTangAPI.Helper.QuestionsAndAnswers>;
@{
    var key = "";
    var s = Model.FirstOrDefault();
    if (s != null)
    {
        var sk = s.ListAnswers.FirstOrDefault();
        if (sk != null)
        {
            key = BaoTangAPI.Helper.WebHelper.ClearHtmlTag(sk.Content).Trim().TrimStart().TrimEnd();
        }
    }


}
<h1 class="key-container" style="display:none;">@key</h1>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div id="binding_game" style="margin: 0 auto;">
            <button class="btn answerLetter" style="display: none; width: 50px; height: 50px;"></button>
        </div>
    </div>
    <br>
    <div class="row">
        <div id="binding_keyboard">
            <button class="btn keyboardLetter" style="display: none;"></button>
        </div>
    </div>
</div>
<div id="binding_keyboard">
    <button class="btn keyboardLetter" style="display: none;"></button>
</div>
@section scripts{
    <script type="text/javascript">
        var G = {
            Init: function () {
                G.SecretKey = $('.key-container').text();
                G.DesignLayout();
                G.DesignKeyboard();
                G.RegisterEvent();
            },
            RegisterEvent: function () {
                $('.isKeyboardClone').off('click').on('click', function () {
                    var $_this = $(this);
                    var s = G.SecretKey.toLowerCase();
                    var k = $(this).text();
                    var flag = false;
                    $('.isClone').each(function (element) {
                        var ans = $(this).data('correctLetter');
                        if (ans == k) {
                            $(this).text(ans);
                            //$(this).disabled('true');
                            $(this).css("background-color", "pink");
                            $(this).addClass('suprise')
                            $_this.attr('disabled');
                            $_this.css("background-color", "pink");
                            flag = true;
                        }

                    })
                    if (flag == false) {
                        $_this.text("-");
                        $_this.css("background-color", "#ddd");
                        //$_this.disabled('true');
                    }
                    G.CheckWinner();


                });

            },
            DesignLayout: function () {
                var secret_key = G.SecretKey.toLowerCase();
                for (var i = 0; i < secret_key.length; i++) {
                    var cloned = $('.answerLetter').last().clone();
                    cloned.data("correctLetter", secret_key[i].toString());
                    cloned.css("display", "inline-block");
                    cloned.addClass("isClone");
                    cloned.text("_");
                    cloned.appendTo("#binding_game");
                }
                G.RegisterEvent();
            },
            DesignKeyboard: function () {
                var vnese_letters = 'qwertyuiopasdfghjklzxcvbnm1234567890';
                vnese_letters += 'ăâôưđơê';
                for (var i = 0; i < vnese_letters.length; i++) {
                    var cloned = $('.keyboardLetter').last().clone();
                    cloned.addClass("isKeyboardClone");
                    cloned.text(vnese_letters[i].toString());
                    cloned.css("display", "inline-block");
                    cloned.appendTo('#binding_keyboard');
                }
                G.RegisterEvent();

            },
            CheckWinner: function () {
                var a = $('.suprise').length;
                if (a == G.SecretKey.length)
                    $.alert({
                        title: 'Chiến thắng'
                    });

            }
        }
        G.Init();
    </script>
}

