﻿
@{
    ViewData["Title"] = "KeoThaView";
    Layout = "~/Views/Shared/_LayoutGameDescription.cshtml";
}
@model List<BaoTangAPI.Helper.QuestionsAndAnswers>;

@section styles{ 
<style>
    body {
        background-color: #E2E8F3;
        font-size: .8em;
        font-family: "Roboto", Arial, Helvetica, sans-serif;
    }

    ul li {
        list-style-type: none;
    }

    img {
        cursor: pointer;
        width: 200px;
    }

    .container {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .parking-rules {
        padding: 0;
    }

        .parking-rules > .parking-rule {
            display: flex;
            justify-content: center;
            text-align: center;
            background: #FDFEFE;
            padding: 16px;
            margin: 12px;
        }

    .parking-rule:nth-child(n) {
        border: 2px solid #538cff;
    }

    .parking-rule:nth-child(2n) {
        border: 2px solid #d51c00;
    }

    .parking-rule:nth-child(3n) {
        border: 2px solid #ffd92e;
    }

    .parking-rule ul {
        padding: 0;
    }

    .parking-rule li:first-child {
        font-weight: 700;
        text-transform: uppercase;
    }

    .drop-zone {
        position: relative;
        width: 300px;
        height: 300px;
        overflow: hidden;
        background: #878787;
        color: white;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

    .drop-zone {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
}

@{
    var s = Model;
    var x = new List<BaoTangAPI.Helper.PhimDanViewModel>();
    if(s != null)
    {
        foreach(var it in s)
        {
            var quest = BaoTangAPI.Helper.WebHelper.GetFirstImage(it.QuestionTarget.Content);
            var ans = it.ListAnswers.FirstOrDefault();
            if(ans != null)
            {
                var a = BaoTangAPI.Helper.WebHelper.ClearHtmlTag(ans.Content);
                x.Add(new BaoTangAPI.Helper.PhimDanViewModel() { Name = a, Url = quest });
            }

        }
    }
    var res = Newtonsoft.Json.JsonConvert.SerializeObject(x);

}

    @*<h1 class="key-container" style="display:none;">@res</h1>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div id="binding_drop">
                <div class="drop-item col-12" style="border: 1px solid red; display: none;">
                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div id="binding_drag">
                <div class="drag-item" type="button"
                     style="display: none; width: 100px; height: 50px;background-color: #ddd; z-index: 9999;">
                    <h6 class="drag-item-title" style="text-align: center; margin: 0 auto; "></h6>
                </div>
            </div>
        </div>
    </div>
</div>*@



<div class="container">
    <ul class="binding_drag">
        @foreach (var item in x)
        {
            <li class="drag-item" data-value="@item.Name">
                <div class="btn btn-send button-drag" style="margin-bottom: 4px;" data-value="@item.Name">
                    @item.Name
                </div>
                
            </li>
        }

        @*<li class="parking-rule">
            <ul>
                <li> Fire truck Parking Only</li>
                <li>24hrs</li>
                <li> Saturday to Sunday </li>
            </ul>
        </li>
        <li class="parking-rule">
            <ul>
                <li> Car Parking</li>
                <li> 3am to 3pm </li>
                <li> Mon Thru Fri  </li>
            </ul>
        </li>
        <li class="parking-rule">
            <ul>
                <li> Bicycle Parking</li>
                <li> 3pm to 9pm </li>
                <li> Mon Thru Fri  </li>
            </ul>
        </li>*@
    </ul>
    <section class="drop-zone">
    </section>
    <section class="binding_drop">
        <ul class="vehicles">
            @foreach (var item in x)
                    {
                        var id = item.Name;
                <li class="drop-item" style="margin-bottom: 4px;" data-value="@item.Name">
                    <!-- draggable objects must have draggable attribute -->
                    <img id="@id" alt="fire truck" src="@item.Url" class="drop-item-img">
                </li>
            }

            @*<li>
                <img id="ambulance" alt="ambulance" src="https://cdn.glitch.com/20f985bd-431d-4807-857b-e966e015c91b%2Fambulance5.png?1519011787610">
            </li>
            <li>
                <img id="car" alt="car" src="https://cdn.glitch.com/20f985bd-431d-4807-857b-e966e015c91b%2Fcar-20clip-20art-1311497037_Vector_Clipart.png?1519011788408">
            </li>
            <li>
                <img id="bike" alt="bicycle" src="https://cdn.glitch.com/20f985bd-431d-4807-857b-e966e015c91b%2Fbicycle-20clip-20art-bicycle3.png?1519011787816">
            </li>*@
        </ul>
    </section>
</div>
@section scripts{
    

<script>
    $('.button-drag').draggable();
    $('.drop-item-img').droppable({
        drop: function (event, ui) {
            var checker = $(ui.draggable[0]).data('value');
            console.log(checker);
            var origin = $(this).data('value');
            console.log(origin);
            if (checker == origin) {
                $.alert({
                    title: 'Alert!',
                    content: 'Chiến thắng',
                });
            }

        }
    });
</script>
}


