﻿
@{
    ViewData["Title"] = "PictureView";
    Layout = "~/Views/Shared/_LayoutGameDescription.cshtml";
}
@model List<string>;
@section styles{
    <link href="~/lib/slick-1.8.1/slick/slick.css" rel="stylesheet" />
    <link href="~/lib/slick-1.8.1/slick/slick-theme.css" rel="stylesheet" />
}
<div class="slideshow-container">

    @if (Model != null)
    {
        var total = Model.Count;
        var count = 1;
        foreach (var item in Model)
        {
            <div class="slick-item">
                <img src="@item" style="width: 100%; height: auto; max-width: 100%" />
            </div>
        }
    }

    <!-- Full-width images with number and caption text -->

</div>
<br>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.slideshow-container').slick({
                dots: true,
                infinite: true,
                speed: 300,
                slidesToShow: 1,
                adaptiveHeight: true
            });
        })
    </script>
}

