﻿
@{
    ViewData["Title"] = "StoryView";
    Layout = "~/Views/Shared/_LayoutGameDescription.cshtml";
    var body = ViewBag.Body;
    
}

@section styles{ 
    <link href="~/lib/turnjs4/samples/basic/css/basic.css" rel="stylesheet" />
}

<div class="flipbook-viewport">
    <div class="container">
        <div class="flipbook">
            @Html.Raw(body)
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">

        function loadApp() {

            // Create the flipbook

            $('.flipbook').turn({
                // Width

                display: "single",

                 //Elevation

                //elevation: 50,

                // Enable gradients

                //gradients: true,

                // Auto center this flipbook

                autoCenter: true

            });
        }

        // Load the HTML4 version if there's not CSS transform

        //yepnope({
        //    test: Modernizr.csstransforms,
        //    yep: ['../../lib/turn.js'],
        //    nope: ['../../lib/turn.html4.min.js'],
        //    both: ['css/basic.css'],
        //    complete: loadApp
        //});
        loadApp();
    </script>

}
