<section class="main-news">
    <div class="container">
        <ul class="row list-news">
            <li class="col-md-4">
                <div class="news-dtail color-828282">
                    <a href="#"><img src="img/img-4.png" class="w-100" alt=""></a>
                    <div class="date-news pb-2">
                        <i class="fal fa-calendar mr-2"></i>09-03-2020
                    </div>
                    <a href="#">
                        <h3 class="title-news pb-2 color-0E0E2D">Công Dụng Của Nấm Ngọc Cẩu</h3>
                    </a>
                    <p class="mota-news">Autem neglegentur in duo, ex aperiam fabulas mei, exerci menandri explicari uọc... </p>
                    <a href="#">
                        <span class="color-fff" style="color: #DAB546;">Đọc tiếp</span>
                    </a>
                </div>
            </li>
            <li class="col-md-4">
                <div class="news-dtail color-828282">
                    <a href="#"><img src="img/img-4.png" class="w-100" alt=""></a>
                    <div class="date-news pb-2">
                        <i class="fal fa-calendar mr-2"></i>09-03-2020
                    </div>
                    <a href="#">
                        <h3 class="title-news pb-2 color-0E0E2D">Công Dụng Của Nấm Ngọc Cẩu</h3>
                    </a>
                    <p class="mota-news">Autem neglegentur in duo, ex aperiam fabulas mei, exerci menandri explicari uọc... </p>
                    <a href="#">
                        <span class="color-fff" style="color: #DAB546;">Đọc tiếp</span>
                    </a>
                </div>
            </li>
            <li class="col-md-4">
                <div class="news-dtail color-828282">
                    <a href="#"><img src="img/img-4.png" class="w-100" alt=""></a>
                    <div class="date-news pb-2">
                        <i class="fal fa-calendar mr-2"></i>09-03-2020
                    </div>
                    <a href="#">
                        <h3 class="title-news pb-2 color-0E0E2D">Công Dụng Của Nấm Ngọc Cẩu</h3>
                    </a>
                    <p class="mota-news">Autem neglegentur in duo, ex aperiam fabulas mei, exerci menandri explicari uọc... </p>
                    <a href="#">
                        <span class="color-fff" style="color: #DAB546;">Đọc tiếp</span>
                    </a>
                </div>
            </li>
            <li class="col-md-4">
                <div class="news-dtail color-828282">
                    <a href="#"><img src="img/img-4.png" class="w-100" alt=""></a>
                    <div class="date-news pb-2">
                        <i class="fal fa-calendar mr-2"></i>09-03-2020
                    </div>
                    <a href="#">
                        <h3 class="title-news pb-2 color-0E0E2D">Công Dụng Của Nấm Ngọc Cẩu</h3>
                    </a>
                    <p class="mota-news">Autem neglegentur in duo, ex aperiam fabulas mei, exerci menandri explicari uọc... </p>
                    <a href="#">
                        <span class="color-fff" style="color: #DAB546;">Đọc tiếp</span>
                    </a>
                </div>
            </li>
            <li class="col-md-4">
                <div class="news-dtail color-828282">
                    <a href="#"><img src="img/img-4.png" class="w-100" alt=""></a>
                    <div class="date-news pb-2">
                        <i class="fal fa-calendar mr-2"></i>09-03-2020
                    </div>
                    <a href="#">
                        <h3 class="title-news pb-2 color-0E0E2D">Công Dụng Của Nấm Ngọc Cẩu</h3>
                    </a>
                    <p class="mota-news">Autem neglegentur in duo, ex aperiam fabulas mei, exerci menandri explicari uọc... </p>
                    <a href="#">
                        <span class="color-fff" style="color: #DAB546;">Đọc tiếp</span>
                    </a>
                </div>
            </li>
            <li class="col-md-4">
                <div class="news-dtail color-828282">
                    <a href="#"><img src="img/img-4.png" class="w-100" alt=""></a>
                    <div class="date-news pb-2">
                        <i class="fal fa-calendar mr-2"></i>09-03-2020
                    </div>
                    <a href="#">
                        <h3 class="title-news pb-2 color-0E0E2D">Công Dụng Của Nấm Ngọc Cẩu</h3>
                    </a>
                    <p class="mota-news">Autem neglegentur in duo, ex aperiam fabulas mei, exerci menandri explicari uọc... </p>
                    <a href="#">
                        <span class="color-fff" style="color: #DAB546;">Đọc tiếp</span>
                    </a>
                </div>
            </li>
            <li class="col-md-4">
                <div class="news-dtail color-828282">
                    <a href="#"><img src="img/img-4.png" class="w-100" alt=""></a>
                    <div class="date-news pb-2">
                        <i class="fal fa-calendar mr-2"></i>09-03-2020
                    </div>
                    <a href="#">
                        <h3 class="title-news pb-2 color-0E0E2D">Công Dụng Của Nấm Ngọc Cẩu</h3>
                    </a>
                    <p class="mota-news">Autem neglegentur in duo, ex aperiam fabulas mei, exerci menandri explicari uọc... </p>
                    <a href="#">
                        <span class="color-fff" style="color: #DAB546;">Đọc tiếp</span>
                    </a>
                </div>
            </li>
            <li class="col-md-4">
                <div class="news-dtail color-828282">
                    <a href="#"><img src="img/img-4.png" class="w-100" alt=""></a>
                    <div class="date-news pb-2">
                        <i class="fal fa-calendar mr-2"></i>09-03-2020
                    </div>
                    <a href="#">
                        <h3 class="title-news pb-2 color-0E0E2D">Công Dụng Của Nấm Ngọc Cẩu</h3>
                    </a>
                    <p class="mota-news">Autem neglegentur in duo, ex aperiam fabulas mei, exerci menandri explicari uọc... </p>
                    <a href="#">
                        <span class="color-fff" style="color: #DAB546;">Đọc tiếp</span>
                    </a>
                </div>
            </li>
            <li class="col-md-4">
                <div class="news-dtail color-828282">
                    <a href="#"><img src="img/img-4.png" class="w-100" alt=""></a>
                    <div class="date-news pb-2">
                        <i class="fal fa-calendar mr-2"></i>09-03-2020
                    </div>
                    <a href="#">
                        <h3 class="title-news pb-2 color-0E0E2D">Công Dụng Của Nấm Ngọc Cẩu</h3>
                    </a>
                    <p class="mota-news">Autem neglegentur in duo, ex aperiam fabulas mei, exerci menandri explicari uọc... </p>
                    <a href="#">
                        <span class="color-fff" style="color: #DAB546;">Đọc tiếp</span>
                    </a>
                </div>
            </li>
        </ul>
        <div class="pagin">
            <ul class="number-page">
                <!-- <li>
                        <a href="#" class="icon-pre">
                            <i class="fal fa-angle-left"></i>
                        </a>
                    </li> -->
                <li>
                    <a href="#" title="" class="nb-txt nb-hover ">1</a>
                </li>
                <li>
                    <a href="#" title="" class="nb-txt nb-hover">2</a>
                </li>
                <li>
                    <a href="#" title="" class="nb-txt nb-hover">3</a>
                </li>
                <li>
                    <a title="" class="nb-txt ">...</a>
                </li>
                <li>
                    <a href="#" title="" class="nb-txt nb-hover">20</a>
                </li>
                <!-- <li>
                        <a href="#" class="icon-pre">
                            <i class="fal fa-angle-right"></i>
                        </a>
                    </li> -->
            </ul>
        </div>
    </div>
</section>