@media (min-width: 979px) {}


/*Ipad */

@media only screen and (min-device-width: 768px) and (max-device-width: 800px) and (orientation: portrait) {}

@media screen and (width: 1024px) {}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1200px) {}


/*Ipad dọc(768 x 1024)*/

@media screen and (max-width: 768px) {}

@media (min-width: 769px) and (max-width: 991px) {}

@media only screen and (max-width: 736px) {}

@media only screen and (max-width: 415px) {}

@media only screen and (width: 768px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 320px) and (max-width: 767px) {
    .txt-s1 {
        left: 5%;
        right: 5%;
        top: 23.96%;
        bottom: 0;
        font-size: 48px;
    }
    .txt-s1-1 {
        left: 10.29%;
        right: 10.29%;
        top: 45%;
        font-size: 16px;
    }
    .line-intro {
        width: 200px;
        margin: 0 auto;
        position: initial;
        left: 22%;
        margin-top: 305px;
        right: 22%;
        top: 73%;
    }
    .img-story {
        top: 0;
        right: 0;
        height: 100%;
    }
    /* img {
        height: 100% !important;
    } */
    .main-txt {
        top: 7%;
        right: 10%;
        left: 10%;
    }
    .txt-s2 {
        font-size: 26px;
        line-height: 32px;
    }
    .txt-s4,
    .txt-s5,
    .txt-s6 {
        font-size: 26px;
    }
    .txt-s2-1 {
        font-weight: normal;
        font-size: 16px;
        line-height: 145%;
        padding-top: 20px;
    }
    .abc {
        margin: 0px;
        position: relative;
    }
    .slide-prod-detail {
        margin: 0px 45px;
    }
    .name-prod {
        padding-top: 15px;
        font-size: 22px;
    }
    .txt-contact {
        font-size: 14px;
        line-height: 1.5;
        padding: 10px 0 20px;
    }
    .txt-us {
        font-weight: bold;
        font-size: 18px;
        line-height: 15px;
        padding: 10px 0;
    }
    .cust-tus {
        font-size: 14px;
        padding: 0 0 10px;
    }
    .mxh {
        /* padding-bottom: 10px; */
    }
    .main-ft {
        padding: 20px 0;
    }
    .list-menu p {
        font-size: 13px;
        color: #3182D8;
        line-height: 18px;
    }
    .add-foter {
        font-size: 14px;
    }
    .cust-form-ctrl {
        height: 40px;
    }
    .cust-btn {
        height: 40px;
    }
    .arrow-news {
        padding: 14px 20px;
    }
    .date-news {
        padding: 10px 0;
        font-size: 14px;
    }
    .txt-news {
        font-size: 14px;
        padding-top: 16px;
    }
    .title-news {
        font-weight: bold;
        font-size: 20px;
        color: #ffffff;
        line-height: 30px;
        letter-spacing: 0.2px;
        padding-bottom: 10px;
    }
    ul.list-process {
        list-style: disc;
        color: #4f4f4f;
        padding: 0 20px;
        font-size: 16px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .hg-project {
        padding: 60px 0 10px;
        text-align: center;
    }
    .kc-cart-hamb {
        padding-right: 20px;
    }
    .main-contact {
        padding: 20px 0px;
    }
    ul.mxh {
        justify-content: center;
        padding-top: 30px;
        font-size: 14px;
    }
    .pr-50 {
        padding-right: 20px;
    }
    .title-contact {
        font-weight: bold;
        font-size: 32px;
        line-height: 54px;
        color: #0E0E2D;
    }
    .txt-cart1 {
        font-size: 18px;
        line-height: 22px;
    }
    .cart-price-prod {
        font-size: 16px;
        line-height: 22px;
    }
    .txt-cart2 {
        font-size: 14px;
        line-height: 16px;
    }
    .img-prod-b {
        padding: 4px;
    }
    .btn-del {
        min-width: 100px;
    }
    .all-bill {
        padding-top: 30px;
    }
    .main-cart {
        padding: 35px 0 45px;
    }
}

@media (max-width: 320px) {}