body {
    font-family: 'Muli', sans-serif;
    color: #000000 !important;
}

@font-face {
    font-family: Muli;
    src: local(Muli-Regular), url(/path/to/Muli-Regular.woff2) format("woff2"), url(/path/to/Muli-Regular.woff) format("woff"), url(/fonts/Muli-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: Muli;
    src: url('../fonts/Muli-Regular.ttf');
}

@font-face {
    font-family: lightFont;
    src: url('../fonts/Muli-ExtraLight.ttf');
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
    s
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 40px;
}

.header {
    padding: 10px 0;
}

.navbar.bsnav {
    justify-content: space-between;
}

.navbar-expand-lg .navbar-toggler-ctm {
    display: inherit;
}

.navbar.bsnav .navbar-collapse.menutop {
    display: none !important;
}


/* ------cart------ */

.header .icon-nav {
    /* height: 40px; */
    font-size: 25px;
    align-self: center;
}

.nav-item.cart .icon {
    position: relative;
}

.nav-item.cart .icon .amount {
    width: 20px;
    height: 20px;
    background: #EE7D22;
    border-radius: 50%;
    border: 1px solid #fff;
    font-size: 9px;
    color: #fff;
    text-align: center;
    top: -4px;
    position: absolute;
    right: 0px;
    padding-top: 2.5px;
}

.dropdown-cart {
    font-size: 0.875rem;
    box-shadow: 6px 4px 20px rgba(0, 0, 0, 0.1);
    border: 0.3px solid #EDEDED;
    max-width: 100%;
    white-space: normal;
    border-radius: 5px;
    overflow: hidden;
    padding: 0;
}

.dropdown-cart .bottom-dropdown {
    background: #F2F2F2;
    padding: 1rem;
}

.dropdown-menu.dropdown-cart {
    min-width: 330px!important;
    margin-top: 1rem;
}

.item-cart {
    padding: 10px 5px;
    display: flex;
}

.item-cart .image-product {
    width: 60px;
    height: 60px;
    overflow: hidden;
}

.item-cart .image-product img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
}

.item-cart .del {
    font-size: 11px;
    color: #F5A05B;
    width: 35px;
    text-align: center;
}

.item-cart .del .btn-link {
    font-size: 11px;
    color: #F5A05B;
    padding: 3px 0;
}

.item-cart .price {
    color: #EE7D22;
    font-weight: bold;
    font-size: 1rem;
}

.item-cart .text {
    width: calc(100% - 95px);
}

.item-cart .group-amount .btn {
    padding: 0 10px;
    border: 0;
    font-size: 11px;
}

.item-cart .group-amount input.form-control {
    color: #EE7D22;
}

.item-cart .name-product {
    max-height: 2rem;
    overflow: hidden;
    font-size: .85rem;
    font-weight: 500;
}

.cart-mobile {
    position: absolute;
    top: 4.5rem;
    width: 100%;
    padding: 1rem;
    box-shadow: 6px 4px 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 0;
    display: none;
}

.kc-cart-hamb {
    padding-right: 60px;
}


/* ------cart------ */

#actions {
    position: fixed;
    top: 73px;
    left: 30px;
    z-index: 99999;
}

#actions a {
    background: rgba(0, 0, 0, 0.8);
    padding: 7px;
    margin: 2px;
    color: #ccc;
    display: inline-block;
}

#actions a:hover {
    color: #fff;
    background: #81A140;
}

.s1 {
    background: url('../img/img-top.png') center no-repeat;
    background-size: cover;
    position: relative;
}

.txt-s1 {
    position: absolute;
    left: 15%;
    right: 15%;
    top: 35.96%;
    bottom: 53.22%;
    font-weight: 600;
    font-size: 64px;
    color: #ffffff;
    text-align: center;
    /* font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    color: #ffffff;
    text-align: center; */
}

.txt-s1-1 {
    position: absolute;
    left: 22.29%;
    right: 22.29%;
    top: 50.59%;
    bottom: 44.14%;
    font-size: 18px;
    /* padding: 30px 30px 65px; */
    text-align: center;
}

.s2 {
    background-color: #ffffff !important;
    position: relative;
}

.line-intro {
    width: 240px;
    border: 1px solid #E4BF4E;
    margin: 0 auto;
    position: absolute;
    height: 0px;
    left: 22%;
    right: 22%;
    top: 73%;
}

.icon-arr {
    font-size: 40px;
    text-align: center;
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 0.5%;
}

.menutop {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between !important;
}

.cust-togg {
    background-color: #ffffff;
}

.bsnav {
    background: transparent;
}

.bsnav-mobile .cust-navb {
    background: #0E0E2D;
    width: 230px;
    padding: 100px 0 15px;
    text-align: center;
    text-transform: uppercase;
}


/* -----my-story----- */

.my-story {
    /* padding: 150px 0 70px; */
}

.bg-story-2 {
    background: url('../img/img-2.2.png') center no-repeat;
    background-size: cover;
    height: 100%;
}

.main-txt {
    position: absolute;
    top: 35%;
    right: 15%;
    left: 15%;
    text-align: left;
}

.txt-s2 {
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    color: #ffffff;
}

.txt-s2-1 {
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    padding-top: 33px;
}

.txt-s2-2 {
    padding-top: 33px;
    font-size: 16px;
}

.line-us {
    width: 92px;
    border: 1px solid #E4BF4E;
}

.img-story {
    position: absolute;
    top: 13%;
    right: -14%;
    z-index: 9;
}

.slick-next:before {
    background: url('..img/');
}

.name-prod {
    padding-top: 32px;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}

.price-prod {
    padding-top: 10px;
    font-weight: normal;
    font-size: 24px;
    color: #dab546;
}

.see-prod {
    padding-top: 48px;
    color: #000000;
    font-size: 16px;
}

.line-prd-slide {
    width: 130px;
    height: 1px;
    background-color: #e4bf4e;
    margin: 0 auto;
}

.nd-slide {
    text-align: center;
}

.abc {
    margin: 0 -55px;
    position: relative;
}

.slide-prod-detail {
    margin: 0 55px;
}

.img-prod-buy {
    position: relative;
}

.hover-buy {
    position: absolute;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    top: 0%;
    left: 0%;
    /* right: 15%; */
    text-align: center;
    width: auto;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.0;
    /* font-size: 24px; */
    padding: 0 10px;
}

.img-prod-buy:hover .hover-buy {
    /* background-color: #0e0e2d; */
    opacity: 1;
    /* border-radius: 32px; */
}

.arrow-prod {
    color: #000000;
    font-size: 35px;
    display: flex;
    justify-content: center;
}

.pre-2 {
    position: absolute;
    cursor: pointer;
    left: 35px;
    top: 48%;
}

.next-2 {
    position: absolute;
    cursor: pointer;
    right: 35px;
    top: 48%;
}


/* ----------s4--------- */

.s4 {
    background: url('../img/img-product.png') center no-repeat;
    background-size: cover;
    width: 100%;
    /* position: relative; */
}

.s4 .fp-tableCell {
    display: block;
}

.tacdung {
    padding-top: 10%;
}

.tabs-fort {
    padding-top: 75px;
    font-size: 16px;
    color: #b6b6b6;
    font-weight: 600;
}

.hg-project {
    padding-bottom: 20px;
    /* text-align: center; */
}

ul.tabs {
    list-style: none;
    /* text-align: center; */
}

ul.tabs li {
    opacity: 0.7;
    display: inline-block;
    padding: 0px 15px;
    cursor: pointer;
}

ul.tabs li:first-child {
    padding-left: 0;
}

li.tab-link.current {
    color: #dab546;
    opacity: 1;
    font-weight: 600;
}

.tab-content {
    display: none;
    padding: 15px;
}

.tab-content.current {
    display: flex;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    flex-wrap: wrap;
}

.txt-s4 {
    font-size: 38px;
    color: #ffffff;
    font-weight: bold;
}

.cust-faq {
    padding-top: 30px;
}

.accordion-list .card-body {
    font-size: 16px;
    color: #e0e0e0;
    padding: 10px 0 0 40px;
}

.accordion-list .card-header h4 span:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background: url('../img/x.png') 50% no-repeat;
    background-size: contain;
    left: -35px;
    top: 4px;
}

.accordion-list .card-header h4 span.collapsed:before {
    background: url('../img/+.png') 50% no-repeat;
    background-size: contain;
}

.accordion-list .card {
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    border: 0;
    /* border-radius: 6px!important; */
    margin-bottom: 20px;
    overflow: hidden;
    font-size: 21px;
    line-height: 1.3;
    color: #fff;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.accordion-list .card-header {
    padding: 8px 0;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 0;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card-header {
    padding: 12px 20px;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.accordion-list .card-header h4 {
    padding-left: 40px;
}

.accordion-list .card-header h4 span {
    display: block;
    cursor: pointer;
    position: relative;
    color: #ffffff;
    font-size: 24px;
}


/* -------------S5----------- */

.txt-s5 {
    font-size: 36px;
    color: #0e0e2d;
    font-weight: bold;
}

ul.list-process {
    list-style: disc;
    color: #4f4f4f;
    padding-left: 20px;
    font-size: 18px;
    margin-top: 35px;
    margin-bottom: 50px;
}

.main-txt-process {
    padding-top: 110px;
}

.see-more {
    border-bottom: 1px solid #E4BF4E;
    color: #0E0E2D;
    padding-bottom: 8px;
}


/* ----------s6-news---------- */

.txt-news {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: normal;
    color: #f2f2f2;
    padding-top: 40px;
}

.txt-s6 {
    padding-top: 45px;
    font-size: 40px;
    font-weight: bold;
    color: #f2f2f2;
}

.color-fff {
    color: #ffffff;
    text-decoration-line: underline;
}

.title-news {
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    line-height: 30px;
    letter-spacing: 0.2px;
    padding-bottom: 25px;
}

.mota-news {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.date-news {
    padding: 15px 0 25px;
}

.news-dtail {
    padding: 0 15px;
}

.pre-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 50%;
    cursor: pointer;
}

.next-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 50%;
    cursor: pointer;
}

.arrow-news {
    padding-top: 40px;
}


/* -------s7----- */

.contact {
    text-align: center;
}

.color-0E0E2D {
    color: #0E0E2D !important;
}

.txt-contact {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: normal;
    color: #828282;
    padding: 10px 160px 40px;
}

.cust-inpg {
    max-width: 385px;
    height: 54px;
    margin: 0 auto;
    padding-top: ;
}

.cust-form-ctrl {
    height: 54px;
    border: 1px solid #0E0E2D;
    border-radius: 8px;
}

.cust-btn {
    background-color: #0E0E2D;
    color: #ffffff;
    font-weight: 600;
    border-color: #0E0E2D;
}

.main-ft {
    padding: 55px 0;
    background-color: #0E0E2D;
}

.txt-us {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 30px;
}

.cust-tus {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: normal;
    color: #f2f2f2;
    padding: 0px 30px 20px 0;
}

.list-menu p {
    font-size: 14px;
    color: #3182D8;
    line-height: 30px;
}

.nav-bott {
    background-color: rgba(14, 14, 45, 0.1);
    padding: 19px 0;
    text-align: center;
    color: #4F4F4F;
}


/* ---------Product-detai--- */

.cust-img-thumb {
    width: 116px;
    height: 75.2px;
}

.img-thumb {
    padding: 15px 50px 0;
}

.arrow-thumb {
    display: flex;
    justify-content: space-between;
    /* padding: 18px 0 10px; */
}

.pre-thumb {
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: 9%;
    color: #828282;
}

.next-thumb {
    cursor: pointer;
    position: absolute;
    top: 40%;
    right: 9%;
    color: #828282;
}

.tit-name-prod {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    border-bottom: 1px solid #000000;
}

ul.mota-chi-tiet {
    list-style: disc;
    color: #4F4F4F;
    font-size: 18px;
    line-height: 23px;
    padding: 40px 0 0 20px;
}

.mota-chi-tiet li {
    padding-bottom: 15px;
}

.mota-chi-tiet li:last-child {
    padding-bottom: 0;
}

.num-buy {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #0E0E2D;
    border-radius: 34px;
    width: 128px;
    height: 48px;
    font-size: 18px;
    color: #000000;
    font-weight: 500;
}

.sll-buy {
    padding-top: 40px;
}

.minos-prod {
    /* padding-right: 16px; */
    cursor: pointer;
    opacity: 0.5;
}

.plus-prod {
    /* padding-left: 16px; */
    cursor: pointer;
}

.add-cart {
    /* position: absolute; */
    /* top: 0%;
    left: 0%; */
    text-align: center;
    width: auto;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 12px 16px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #0e0e2d;
    border-radius: 38px;
}


/* ---------About-------- */

.banner-gttop {
    background: url('../img/img-intro.png') center no-repeat;
    background-size: cover;
    height: 100%;
}

.tittop-page {
    font-weight: 800;
    font-size: 40px;
    line-height: 28px;
    align-items: center;
    text-transform: uppercase;
    color: #F2F2F2;
}

.list-introduce {
    padding-top: 60px;
}

.txt-top-page {
    padding: 160px 0 140px;
    text-align: center;
}

.txt-page-mota {
    font-size: 16px;
    line-height: 150%;
    padding-top: 30px;
}

.cate-gt {
    font-weight: 600;
    font-size: 32px;
    line-height: 28px;
    color: #333333;
}

.txt-mta-cate p {
    font-size: 18px;
    line-height: 150%;
    color: #828282;
}

.list-introduce li {
    padding-bottom: 40px;
}

.txt-gtcl-1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #4F4F4F;
    padding-bottom: 15px;
}

.txt-gtcl-2 {
    font-size: 16px;
    line-height: 150%;
    color: #828282;
}

.name-nv {
    padding-top: 15px;
    font-weight: bold;
    font-size: 24px;
    line-height: 158.5%;
    text-align: center;
    color: #273167;
}

.chvu-nv {
    font-size: 18px;
    color: #273167;
    text-align: center;
}

.navbar-toggler .cust-togg {
    background-color: #000000 !important;
}


/* ---------News-------- */

section.main-news {
    padding: 15px 0;
}

.color-828282 {
    color: #828282;
}

.list-news li {
    padding: 25px 0;
}

.number-page {
    list-style: none;
    padding: 37px 0;
    display: flex;
    justify-content: flex-end;
    color: #000000;
    padding-left: 0;
    margin-bottom: 0;
}

.icon-pre {
    border: 1px solid #d3d3d3;
    color: #d3d3d3;
    width: 34px;
    height: 34px;
    border-radius: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0 10px;
    font-size: 28px;
}

.nb-txt {
    width: 34px;
    height: 34px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.nb-txt.nb-hover:hover {
    border-bottom: 1px solid #E4BF4E;
    text-align: center;
    color: #E4BF4E;
}

ul.breadcrumb-ct {
    list-style: none;
    display: flex;
    font-size: 14px;
    color: #000000;
    opacity: 0.6;
    padding-left: 0;
}

.breadcrumb-ct li i {
    font-size: 17px;
    vertical-align: 1px;
    margin: 0 10px;
}

.tit-cm {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #0E0E2D;
}

.gttop-bcrumb {
    background-color: #F2F2F2;
    padding: 24px 0;
}

.breadcrumb {
    padding: 0;
    background-color: transparent;
}

.navtop-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-contact {
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    color: #0E0E2D;
}

.main-contact {
    padding: 72px 150px;
}

ul.mxh {
    color: #333D36;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 82px;
}

.ip-css {
    background: #F3F3F3;
    border: none;
    outline: none;
    padding-left: 17px;
    height: 45px;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.5); */
    color: #5C645E;
}

#mess-input {
    min-height: 223px;
}

.btn-send {
    background: #DAB546;
    text-transform: uppercase;
    border: none;
    height: 45px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}

.all-cont {
    padding: 35px 30px;
    background: #FFFFFF;
    box-shadow: 2px 2px 20px rgba(160, 131, 128, 0.2);
}

.pr-50 {
    padding-right: 50px;
}

.pr-50:last-child {
    padding-right: 0px;
}

.img-prod-b {
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 20px;
}

.txt-cart1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #333333;
}

.txt-cart2 {
    font-size: 16px;
    line-height: 27px;
    color: #828282;
    padding-top: 8px;
}

.txt-cart3 {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #000000;
    padding-top: 8px;
    padding-bottom: 10px;
}

.numb-sp {
    border: 1px solid #00000036;
    color: #000000;
    min-width: 120px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
}

.up-sp,
.dowm-sp {
    cursor: pointer;
}

.dowm-sp {
    opacity: 0.5;
}

.d-flex-t1,
.d-flex-t2 {
    display: flex;
    justify-content: space-between;
}

.cart-price-prod {
    color: #DAB546;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
}

.main-cart {
    padding: 48px 0 64px;
}

.info-prod {
    padding-bottom: 30px;
}

.all-sp-buy {
    border-bottom: 1px solid #E8E8E8;
}

.btn-del {
    background: #828282;
    text-transform: uppercase;
    border: none;
    height: 100%;
    min-width: 141px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    padding: 0 20px;
}

.cust-cart {
    color: #ffffff;
    border-color: #DAB546;
    background: #DAB546;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.1px;
}

.mau-list {
    color: #25282B;
    font-size: 18px;
    font-weight: 600;
}

.cust-badge {
    color: #52575C;
    background-color: transparent;
    font-weight: normal;
    font-size: 100%;
}

.btn-tk {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.heading {
    font-weight: 600;
}

